body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}

.frame{
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    padding: 48px 55px 73px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexWrapperOne {
    background-color: white;
    margin-bottom: 6px;
    margin-left: 140px;
    border-radius: 50%;
    padding: 44px 10px 43px 14px;
    display: flex;
    align-items: center;
    border: 5px solid black;
  }

.screenshot20230422At12431 {
    width: 137px;
    height: 78px;
    
  }

.interviewAi {
    height: 26px;
    width: 173px;
    color: black;
    display: flex;
    text-align: center;
    margin-bottom: 42px;
    margin-left: 139px;
}

.signIn {
    background-color: dark-slate-gray;
    overflow: hidden;
    border-radius: 15px;
    padding: 25px 100px;
    display: flex;
    align-items: center;
}

.googleSignIn {
    height: 25px;
    width: 250px;
    color: white;
    display: flex;
    text-align: center;
}
  
/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}  */

