body {
    display:flex;
    background: #F5F5F5;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}

.button {
    font-size: 8pt;
    font-family: tahoma;
    padding: 5px 50px;
    position:absolute;
    top:0;
    right:0;
}

.frame{
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    padding: 30px 150px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexWrapperOne {
    background-color: white;
    margin-bottom: 6px;
    margin-left: 140px;
    border-radius: 50%;
    padding: 44px 10px 45px 20px;
    display: flex;
    align-items: center;
    border: 5px solid black;
  }

.screenshot20230422At12431 {
    width: 140px;
    height: 80px;
  }

.interviewAi {
    height: 2px;
    width: 173px;
    color: black;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 185px;
}

.profileButton {
    background-color: black;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px 138px;
    display: flex;
    align-items: center;
}

.profileButton:hover {
    background-color: #666;
}

.prepButton:hover {
    background-color: #666;
}

.prepButton {
    background-color: black;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px 105px;
    display: flex;
    align-items: center;
}

.buttonMessage{
    color: white;
}

.googleSignIn {
    height: 25px;
    width: 250px;
    color: white;
    display: flex;
    text-align: center;
}